@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table-container {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


input[type="file"] {
  display: none; /* Скрываем стандартный вид input type="file" */
}

.custom-file-upload {
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  color: #fff;
  background-color: #1677ff;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}
.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.info {
  height: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  color: #fff;
  background-color: #1677ff;
  text-align: center
}

.ant-table-thead > tr > th.weekend-column,
.ant-table-tbody > tr > td.weekend-column {
  background-color: #ffd6cc;
}
.ant-table-tbody > tr:hover > td {
  background-color: rgb(146, 144, 255); /* Цвет фона для выделения строки с датами */
  
}
.ant-table-thead > tr > th {
  background-color: rgb(146, 144, 255) !important;/* Цвет фона для заголовка таблицы */
  font-weight: 700 !important;
}
.ant-table-tbody > tr > td:first-child {
  background-color: rgb(146, 144, 255); /* Цвет фона для первой колонки */
  font-weight: 700;
}

